body {
    font-family: Verdana;
    font-size: 0.7em;
    margin: 20px 0;
}

#main {
    width: 940px;
    margin: 0 auto;
}

#optionsContainer {
    width: 300px;
    float: left;
}

    #optionsContainer h1 {
        font-size: 200%;
        color: #000;
    }

#calendarContainer {
    width: 640px;
    float: right;
}
	
	#calendar {
    	width: 640px;
    	border-left: 1px solid #000;
    	border-bottom: 1px solid #000;
	}
	
	#calendar td, #calendar th {
    	border-right: 1px solid #000;
    	border-top: 1px solid #000;
    	height: 25px;
        padding: 0;
	}
    #calendar td {
        background: #fff;
    }

    #calendar .selected {
        background: #ccc;
    }

    #calendar .focus {
        background: #eee;
    }

    #calendar .unavailable {
        background: #ddd;
    }

    #calendar .booked {
        background: #CC4D49;
    }

#calendarNavigation #calNavRight {
    float: right;
}


label {
    display: block;
    float: left;
    width: 80px;
    padding-top: 5px;
}